.bio-container {
  display: flex;
  flex-direction: column;
  background-color: #95d6d0;
}

.bio-container-title {
  font-size: 40px;
  text-align: center;
  margin: 75px;
}

.bio-container-body {
  display: flex;
}
.bio-container-body-img {
  width: 50%;
}

.bio-container-body-img img {
  width: 100%;
  object-fit: cover;
}

.bio-container-body-text {
  width: 50%;
  margin: 0 15px;
  font-size: 22px;
  text-align: left;
  line-height: 40px;
}
