<div class="bio-container">
  <h1>My life in a nutshell</h1>

  <p>I'm Lorenzo Orsenigo, I was born on July 22, 1995, in Cantù, a city in the Lombardy region of Italy. From a young age, I showed a natural talent for percussion and began playing in local bands and ensembles.</p>

  <p>My dedication to his craft led me to pursue a degree in percussion performance at the Conservatorio di Musica "Giuseppe Verdi" in Como. While studying there, I had the opportunity to work with renowned percussionists and perform in prestigious venues throughout Italy, Europe and from all over the world.</p>

  <p>After graduating with honors, I went on to establish me as a sought-after performer and educator. I played with a variety of ensembles and orchestras, including the Italian Philharmonic Orchestra, the Milan Symphony Orchestra, and the Orchestre de la Suisse Romande.</p>

  <p>In addition to his performing career, I am also an experienced teacher and I taught percussion at several music schools and universities throughout Italy. I'm passionate about sharing my knowledge and love of music with my students and helping them develop their own skills and talents.</p>

  <p>I continue to perform and teach, and I'm widely regarded as one of the most talented and versatile percussionists of my generation. My dedication to my craft and commitment to excellence have made me a respected figure in the world of classical music.</p>
</div>
