<div
    class="container-fluid d-flex flex-column"
    style="height: calc(100vh - var(--navbar-height) - var(--footer-height))"
>
    <div class="row flex-shrink-0 py-3" style="flex-basis: 10%">
        <div class="col-12 text-center">
            <h1 class="h4 h2-md">{{ title }}</h1>
        </div>
    </div>
    <div class="row flex-grow-1 flex-column flex-md-row">
        <div class="col-12 d-block d-md-none image-mobile" [ngStyle]="{ 'background-image': 'url(' + pictureUrl + ')' }"></div>

        <div class="col-md-6 p-0 h-100 d-none d-md-block">
            <div class="bio-image" [ngStyle]="{ 'background-image': 'url(' + pictureUrl + ')' }"></div>
        </div>

        <div class="col-md-6 d-flex flex-column p-0 h-100 overflow-hidden d-none d-md-flex">
            <textarea class="flex-grow-1 w-100 border-0 p-4" readonly>{{ text }}</textarea>
        </div>

        <div class="col-12 d-flex flex-column p-0 flex-grow-1 mobile-text d-md-none">
            <textarea class="flex-grow-1 w-100 border-0 p-4" readonly>{{ text }}</textarea>
        </div>
    </div>
</div>
