<div class="media-container">
  <div class="media-row">
    <iframe class="media-object" src="https://www.youtube.com/embed/xk3BvNLeNgw" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="media-object" src="https://www.youtube.com/embed/C7HL5wYqAbU" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="media-object" src="https://www.youtube.com/embed/v_h1EfMKmK4" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="media-row">
    <iframe class="media-object" src="https://www.youtube.com/embed/RcqzPoMza7c" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="media-object" src="https://www.youtube.com/embed/-lJctvybAJ8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img class="media-object" src="https://picsum.photos/641/351" alt="">
  </div>
  <div class="media-row">
    <iframe class="media-object" src="https://www.youtube.com/embed/FqJdzYY_Fas" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img class="media-object" src="https://picsum.photos/641/350" alt="">
    <iframe class="media-object" src="https://www.youtube.com/embed/k3mNFdE2syM" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="media-row">
    <img class="media-object" src="https://picsum.photos/640/350" alt="">
    <iframe class="media-object" src="https://www.youtube.com/embed/acO_0Ly74G0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="media-object" src="https://www.youtube.com/embed/ILkYMD8zuH8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>
