<!-- <div class="footer-container">
  <div class="footer-container-social-bar">
    <a href="https://instagram.com/lorso_percussion" target="_blank"><i class="ph-instagram-logo" style="color: white; font-size: 30px"></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class="ph-youtube-logo" style="color: white; font-size: 30px"></i></a>
    <a href="https://it.linkedin.com/in/lorenzo-orsenigo-431196230" target="_blank"><i class="ph-linkedin-logo" style="color: white; font-size: 30px"></i></a>
    <a href="mailto:lorenzo.orsenigo1995@gmail.com" target="_blank"><i class="ph-envelope-simple" style="color: white; font-size: 30px"></i></a>
  </div>
  <div class="footer-container-signature">made by <a href="https://github.com/lysandre995">Alessandro Alfano</a> &lt;alfano.alessandro@outlook.com&gt; | 2022 - {{currentYear}} &copy;</div>
  <div class="footer-container-artist-role">Percussionist Performer</div>
</div> -->
<footer class="bg-dark text-center py-3">
  <div class="container">
    <div class="mb-2">
      <a href="https://instagram.com/lorso_percussion" target="_blank" class="me-3 text-light">
        <i class="ph-instagram-logo" style="color: white; font-size: 30px"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCSELABk7HStKmOlyKvCeBrA" target="_blank" class="me-3 text-light">
        <i class="ph-youtube-logo" style="color: white; font-size: 30px"></i>
      </a>
      <a href="info@lorenzoorsenigo.com" class="text-light">
        <i class="ph-envelope-simple" style="color: white; font-size: 30px"></i>
      </a>
    </div>
    <p class="mb-0">Made by <a href="https://alessandroalfano.com">Alessandro Alfano</a></p>
    <p class="mb-0">&copy; 2022 - {{currentYear}}</p>
  </div>
</footer>
