<div class="contacts-container">
  <fa-icon>[icon]="faCameraRetro"</fa-icon>
  <h1 class="contact-title">Let's chat!</h1>
  <h2 class="contact-subtitle">You can find more about myself and contact me at:</h2>
  <p class="contact-item"><a href="https://www.instagram.com/lorso_percussion/"><fa-icon [icon]="faCameraRetro"></fa-icon> Instagram</a></p>
  <p class="contact-item"><a href="https://www.facebook.com/lorenzo.orsenigo.33/"><fa-icon [icon]="faUser"></fa-icon> Facebook</a></p>
  <p class="contact-item"><a href="https://www.youtube.com/"><fa-icon [icon]="faCirclePlay"></fa-icon> YouTube</a></p>
  <p class="contact-item"><a href="https://www.wikipedia.com/"><fa-icon [icon]="faBook"></fa-icon> Wikipedia</a></p>
</div>
