<div class="event-container">
  <div class="event-container-when">
    <div class="event-container-when-date">{{ date }}</div>
    <div class="event-container-when-time">{{ time }}</div>
  </div>
  <div class="event-container-picture"><img [src]="pictureUrl" alt="" /></div>
  <div class="event-container-content">
    <div class="event-container-content-what">{{ title }}</div>
    <div class="event-container-content-where">{{ location }}</div>
    <div class="event-container-content-link">
      <a [href]="link" target="_blank">Link <i class="ph-link"></i></a>
    </div>
  </div>
  <div class="event-container-more-info" (click)="openDialog()">More info</div>
</div>
@if (isDialogOpen) {
  <div class="dialog-background"></div>
}
@if (isDialogOpen) {
  <app-dialog (closeDialog)="closeDialog()" [content]="description"></app-dialog>
}
