<div class="event-container" [style]="getActiveStyle()" routerLink="{{getEventDetailPagePath()}}">
  <div class="event-calendar-page">
    <div class="event-calendar-page-day">{{day}}</div>
    <div class="event-calendar-page-month">{{month}}</div>
    <div class="event-calendar-page-year">{{event.date.getFullYear()}}</div>
    <div class="event-calendar-page-hour">{{hours}}:{{minutes}}</div>
  </div>
  <img class="event-cover" [src]=event.coverUrl alt="">
  <div class="event-body">
    <div class="event-body-title">{{event.name}}</div>
  </div>
  <div class="event-location">{{event.location}}</div>
</div>
<div class="event-container-mobile" [style]="getActiveStyle()" routerLink="{{getEventDetailPagePath()}}">
  <div class="event-calendar-page">
    <div class="event-calendar-page-day">{{day}}</div>
    <div class="event-calendar-page-month">{{month}}</div>
    <div class="event-calendar-page-year">{{event.date.getFullYear()}}</div>
    <div class="event-calendar-page-hour">{{hours}}:{{minutes}}</div>
  </div>
  <div class="event-body">
    <div class="event-body-title">{{event.name}}</div>
  </div>
  <img class="event-cover" [src]=event.coverUrl alt="">
  <div class="event-location">{{event.location}}</div>
</div>
