<div class="projects-container">
  <div class="project-container-grid">
    <ng-container *ngFor="let category of categories">
      <div class="project-container-category">
        <div class="project-container-category-img"><img class="button" [src]="category.pictureUrl" alt="" [routerLink]="category.path" routerLinkActive="activebutton" ariaCurrentWhenActive="page"></div>
        <div class="project-container-category-name">{{category.name}}</div>
      </div>
    </ng-container>
  </div>
</div>
