.projects-container {
  padding: 100px 20px 300px 20px;
  background-color: #b1c9cd;
}

.project-container-grid {
  display: flex;
  justify-content: space-evenly;
}

.project-container-category {
  position: relative;
  z-index: 0;
}

.project-container-category-img {
  width: 500px;
  height: 500px;
  border-radius: 100%;
}

.project-container-category-img img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 100%;
}

.project-container-category-img img:hover {
  cursor: pointer;
}

.project-container-category-name {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
  color: white;
  font-size: 30px;
  text-shadow:
    1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
