@if (!isLoading) {
  <div class="container-fluid content-wrapper">
    <div class="row">
      @for (category of categories; track category) {
        <div class="col-md-4 mb-4">
          <div class="image-container">
            <img
              [src]="category.pictureUrl"
              alt=""
              [routerLink]="category.path"
              routerLinkActive="activebutton"
              ariaCurrentWhenActive="page"
              />
            <div class="overlay">{{ category.name }}</div>
          </div>
        </div>
      }
    </div>
  </div>
} @else {
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}

