<!-- <div class="projects-container">
  <div class="project-container-grid">
    <ng-container *ngFor="let category of categories">
      <div class="project-container-category">
        <div class="project-container-category-img"><img class="button" [src]="category.pictureUrl" alt="" [routerLink]="category.path" routerLinkActive="activebutton" ariaCurrentWhenActive="page"></div>
        <div class="project-container-category-name">{{category.name}}</div>
      </div>
    </ng-container>
  </div>
</div> -->

<div class="container-fluid content-wrapper">
    <div class="row">
        <ng-container *ngFor="let category of categories">
            <div class="col-md-4 mb-4">
                <div class="image-container">
                    <img
                        [src]="category.pictureUrl"
                        alt=""
                        [routerLink]="category.path"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ category.name }}</div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
