.nav-bar-extra {
  position: fixed;
  top: 0;
  height: 42px;
  z-index: 2;
  background-color: white;
  width: 100%;
}
.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 42px;
}
.nav-bar-title {
  padding-left: 10px;
  font-size: 32px;
  width: 33%
}
.nav-bar-sections {
  display: flex;
  justify-content: space-evenly;
  width: 67%;
}
.nav-bar-section {
  font-size: 22px;
}
.nav-bar-hamburger {
  display: none;
}
.nav-bar-modal {
  display: none;
  width: 100%;
  overflow: auto;
  text-align: center;
  background-color: whitesmoke;
}
@media only screen and (max-width: 900px) {
  .nav-bar-title {
    font-size: 28px;
  }
  .nav-bar-section {
    font-size: 18px;
  }
}
@media only screen and (max-width: 751px) {
  .nav-bar-title {
    font-size: 28px;
    width: 95%;
  }
  .nav-bar-sections {
    display: none;
  }
  .nav-bar-hamburger {
    padding-right: 10px;
    display: flex;
    justify-content: right;
    width: 5%;
  }
}
