<div class="container-fluid content-wrapper">
    <ng-container *ngIf="columns === 5">
        <div class="row mb-4">
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f0.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f0.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f0.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f1.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f1.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f1.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f2.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f2.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f2.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f3.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f3.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f3.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f4.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f4.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f4.name }}</div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f5.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f5.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f5.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f6.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f6.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f6.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f7.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f7.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f7.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f8.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f8.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f8.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f9.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f9.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f9.name }}</div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f10.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f10.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f10.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f11.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f11.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f11.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f12.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f12.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f12.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f13.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f13.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f13.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f14.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f14.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f14.name }}</div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="columns === 3">
        <div class="row mb-4">
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f0.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f0.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f0.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f1.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f1.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f1.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f2.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f2.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f2.name }}</div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f3.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f3.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f3.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f4.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f4.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f4.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f5.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f5.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f5.name }}</div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f6.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f6.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f6.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f7.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f7.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f7.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f8.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f8.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f8.name }}</div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f9.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f9.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f9.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f10.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f10.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f10.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f11.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f11.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f11.name }}</div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f12.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f12.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f12.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f13.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f13.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f13.name }}</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img
                        [src]="f14.pictureUrl"
                        alt=""
                        [routerLink]="'/projects/research/globokar-oliveros/' + f14.id"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page"
                    />
                    <div class="overlay">{{ f14.name }}</div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="columns === 1">
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f0.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f0.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f0.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f1.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f1.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f1.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f2.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f2.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f2.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f3.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f3.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f3.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f4.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f4.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f4.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f5.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f5.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f5.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f6.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f6.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f6.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f7.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f7.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f7.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f8.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f8.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f8.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f9.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f9.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f9.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f10.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f10.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f10.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f11.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f11.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f11.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f12.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f12.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f12.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f13.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f13.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f13.name }}</div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="image-container">
                <img
                    [src]="f14.pictureUrl"
                    alt=""
                    [routerLink]="'/projects/research/globokar-oliveros/' + f14.id"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                />
                <div class="overlay">{{ f14.name }}</div>
            </div>
        </div>
    </ng-container>
</div>
