.content-wrapper {
    padding-bottom: var(--footer-height);
}
.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    text-shadow:
        1px 0 0 #000,
        0 -1px 0 #000,
        0 1px 0 #000,
        -1px 0 0 #000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.image-container:hover .overlay {
    opacity: 1;
}