<div class="events-container">
  <div class="events-container-margin">
    <div class="events-container-title">Upcoming</div>
    <div class="events-container-list">
      <ng-container *ngFor="let event of upcoming">
        <app-event
          [date]="event.date"
          [location]="event.location"
          [link]="event.eventUrl"
          [title]="event.name"
          [description]="event.description"
          [pictureUrl]="event.coverUrl">
        </app-event>
      </ng-container>
    </div>
    <div class="events-container-title">Past</div>
    <div class="events-container-list">
      <ng-container *ngFor="let event of past">
        <app-event
          [date]="event.date"
          [location]="event.location"
          [link]="event.eventUrl"
          [title]="event.name"
          [description]="event.description"
          [pictureUrl]="event.coverUrl">
        </app-event>
      </ng-container>
    </div>
    <div class="events-container-more-button-container">
      <button class="events-container-more-button button" (click)="morePastEvents()">More</button>
    </div>
  </div>
</div>
