<!-- <div class="events-container">
  <div class="events-container-margin">
    <div class="events-container-title">Upcoming</div>
    <div class="events-container-list">
      <ng-container *ngFor="let event of upcoming">
        <app-event
          [date]="event.date"
          [location]="event.location"
          [link]="event.eventUrl"
          [title]="event.name"
          [description]="event.description"
          [pictureUrl]="event.coverUrl">
        </app-event>
      </ng-container>
    </div>
    <div class="events-container-title">Past</div>
    <div class="events-container-list">
      <ng-container *ngFor="let event of past">
        <app-event
          [date]="event.date"
          [location]="event.location"
          [link]="event.eventUrl"
          [title]="event.name"
          [description]="event.description"
          [pictureUrl]="event.coverUrl">
        </app-event>
      </ng-container>
    </div>
    <div class="events-container-more-button-container">
      <button class="events-container-more-button button" (click)="morePastEvents()">More</button>
    </div>
  </div>
</div> -->

<div class="container my-5" style="padding-bottom: var(--footer-height)">
    <!-- Upcoming Events -->
    <div class="mb-5">
        <h3 class="text-end">Upcoming</h3>
        <div class="list-group">
            <div class="list-group-item mb-3" *ngFor="let event of upcoming">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="image-container">
                                <img [src]="event.coverUrl" class="img-fluid rounded-start" alt="Event Image" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ event.name }}</h5>
                                <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                                <p class="card-text"><strong>Location:</strong>{{ event.location }}</p>
                                <p class="card-text">
                                    <a [href]="event.eventUrl" target="_blank">Link <i class="ph-link"></i></a>
                                </p>
                                <button class="btn btn-primary" (click)="openModal(event.description)">More Info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Past Events -->
    <div>
        <h3 class="text-end">Past</h3>
        <div class="list-group">
            <div class="list-group-item mb-3" *ngFor="let event of past">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="image-container">
                                <img [src]="event.coverUrl" class="img-fluid rounded-start" alt="Event Image" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ event.name }}</h5>
                                <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                                <p class="card-text"><strong>Location:</strong>{{ event.location }}</p>
                                <p class="card-text">
                                    <a [href]="event.eventUrl" target="_blank">Link <i class="ph-link"></i></a>
                                </p>
                                <button class="btn btn-primary" (click)="openModal(event.description)">More Info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="events-container-more-button-container">
        <button type="button" class="btn btn-info" (click)="morePastEvents()">More</button>
    </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ modalDescription }}</p>
            </div>
        </div>
    </div>
</div>