.events-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 70px 0 300px 0;
  background-color: #b1c9cd;
}

.events-container-title {
  font-size: 36px;
  text-align: right;
  padding-right: 50px;
  width: 100%;
}

.events-container-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events-container-more-button-container {
  display: flex;
  justify-content: center;
}

.events-container-more-button {
  font-size: 20px;
  text-align: center;
  background: transparent;
  border: transparent;
}

.events-container-more-button:hover {
  color: gainsboro;
  cursor: pointer;
}
